.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background-color: #2f2f2f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f2f2f;

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

iframe {
  display: none;
}
